.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}
@media (min-width: 480px) {
    .container {
        max-width: 480px
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}
@media (min-width: 700px) {
    .container {
        max-width: 700px
    }
}
@media (min-width: 960px) {
    .container {
        max-width: 960px;
        padding-right: 0rem;
        padding-left: 0rem
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px
    }
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.inset-0 {
    inset: 0px
}
.left-0 {
    left: 0px
}
.right-0 {
    right: 0px
}
.right-4 {
    right: 1rem
}
.right-6 {
    right: 1.5rem
}
.top-0 {
    top: 0px
}
.top-16 {
    top: 4rem
}
.top-24 {
    top: 6rem
}
.top-4 {
    top: 1rem
}
.top-6 {
    top: 1.5rem
}
.z-40 {
    z-index: 40
}
.z-50 {
    z-index: 50
}
.z-\[100\] {
    z-index: 100
}
.m-8 {
    margin: 2rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-6 {
    margin-bottom: 1.5rem
}
.mb-8 {
    margin-bottom: 2rem
}
.mt-1 {
    margin-top: 0.25rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.mt-6 {
    margin-top: 1.5rem
}
.mt-8 {
    margin-top: 2rem
}
.block {
    display: block
}
.flex {
    display: flex
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.h-1 {
    height: 0.25rem
}
.h-10 {
    height: 2.5rem
}
.h-16 {
    height: 4rem
}
.h-48 {
    height: 12rem
}
.h-6 {
    height: 1.5rem
}
.h-8 {
    height: 2rem
}
.h-\[280px\] {
    height: 280px
}
.h-\[320px\] {
    height: 320px
}
.h-full {
    height: 100%
}
.h-screen {
    height: 100vh
}
.min-h-\[15vh\] {
    min-height: 15vh
}
.min-h-\[30vh\] {
    min-height: 30vh
}
.min-h-screen {
    min-height: 100vh
}
.w-10 {
    width: 2.5rem
}
.w-16 {
    width: 4rem
}
.w-6 {
    width: 1.5rem
}
.w-8 {
    width: 2rem
}
.w-\[280px\] {
    width: 280px
}
.w-\[320px\] {
    width: 320px
}
.w-auto {
    width: auto
}
.w-full {
    width: 100%
}
.max-w-\[600px\] {
    max-width: 600px
}
.max-w-full {
    max-width: 100%
}
.max-w-none {
    max-width: none
}
.max-w-screen-xl {
    max-width: 1280px
}
.max-w-sm {
    max-width: 24rem
}
.flex-shrink-0 {
    flex-shrink: 0
}
.scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer {
    cursor: pointer
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-center {
    align-items: center
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-2 {
    gap: 0.5rem
}
.gap-3 {
    gap: 0.75rem
}
.gap-4 {
    gap: 1rem
}
.gap-6 {
    gap: 1.5rem
}
.gap-8 {
    gap: 2rem
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-x-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}
.overflow-hidden {
    overflow: hidden
}
.rounded {
    border-radius: 0.25rem
}
.rounded-full {
    border-radius: 9999px
}
.rounded-lg {
    border-radius: 8px
}
.rounded-sm {
    border-radius: 0.125rem
}
.border {
    border-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}
.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-mutedPink {
    --tw-bg-opacity: 1;
    background-color: rgb(211 158 138 / var(--tw-bg-opacity))
}
.bg-offWhite {
    --tw-bg-opacity: 1;
    background-color: rgb(244 243 237 / var(--tw-bg-opacity))
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops))
}
.from-orange-50 {
    --tw-gradient-from: #fff7ed var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 247 237 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}
.to-white {
    --tw-gradient-to: #fff var(--tw-gradient-to-position)
}
.object-cover {
    -o-object-fit: cover;
       object-fit: cover
}
.p-3 {
    padding: 0.75rem
}
.p-4 {
    padding: 1rem
}
.p-6 {
    padding: 1.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.text-center {
    text-align: center
}
.font-buffalo {
    font-family: Buffalo, sans-serif
}
.font-dmsans {
    font-family: DM Sans, sans-serif
}
.font-recoleta {
    font-family: Recoleta, serif
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-\[48px\] {
    font-size: 48px
}
.text-\[64px\] {
    font-size: 64px
}
.text-\[72px\] {
    font-size: 72px
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-xl {
    font-size: 1.25rem
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-light {
    font-weight: 300
}
.font-medium {
    font-weight: 500
}
.leading-\[78px\] {
    line-height: 78px
}
.leading-none {
    line-height: 1
}
.leading-tight {
    line-height: 1.25
}
.tracking-\[-0\.02em\] {
    letter-spacing: -0.02em
}
.tracking-tight {
    letter-spacing: -0.025em
}
.text-darkBrown {
    --tw-text-opacity: 1;
    color: rgb(68 49 43 / var(--tw-text-opacity))
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}
.text-mutedPink {
    --tw-text-opacity: 1;
    color: rgb(211 158 138 / var(--tw-text-opacity))
}
.text-slateGray {
    --tw-text-opacity: 1;
    color: rgb(115 134 140 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-70 {
    opacity: 0.7
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.duration-200 {
    transition-duration: 200ms
}
.duration-300 {
    transition-duration: 300ms
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}
.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.wp-block {
    max-width: 1280px
}
.wp-block[data-align=wide] {
    max-width: 1280px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.hover\:bg-offWhite:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(244 243 237 / var(--tw-bg-opacity))
}
.hover\:bg-orange-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}
.hover\:text-mutedPink:hover {
    --tw-text-opacity: 1;
    color: rgb(211 158 138 / var(--tw-text-opacity))
}
.hover\:text-gray-200:hover {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.hover\:text-gray-500:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.focus\:ring-orange-300:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(253 186 116 / var(--tw-ring-opacity))
}
.group:hover .group-hover\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
@media (min-width: 600px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .sm\:text-\[36px\] {
        font-size: 36px
    }
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .sm\:text-xl {
        font-size: 1.25rem
    }
}
@media (min-width: 700px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }
    .md\:block {
        display: block
    }
    .md\:flex {
        display: flex
    }
    .md\:hidden {
        display: none
    }
    .md\:h-24 {
        height: 6rem
    }
    .md\:h-32 {
        height: 8rem
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:w-24 {
        width: 6rem
    }
    .md\:w-32 {
        width: 8rem
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
    .md\:text-\[64px\] {
        font-size: 64px
    }
    .md\:text-\[84px\] {
        font-size: 84px
    }
    .md\:text-\[96px\] {
        font-size: 96px
    }
    .md\:leading-\[96px\] {
        line-height: 96px
    }
}
@media (min-width: 960px) {
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}
